.container-table{
	margin-top: 4%;
	width: 75%;
	margin-bottom: 6%;
}

.icon{
	margin-left: 15%;
	font-size: 23px;
}
.fa-edit{
	color: green;
}
.fa-trash-alt{
	color: red;
}
.logo{
	margin-right: 1%;
	width:5%;
	border-radius:100%;
}
@media(max-width: 800px){
	.logo{
		width: 9%;
	}
}

.modal-content{
	color: blue;
	padding: 3%;
}
.viewNoteContent{
	text-align: left;
}
